.aws-sam
node_modules
dist
.cache

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# CDK asset staging directory
.cdk.staging
cdk.out
